<!-- views/posts.ejs -->
<h1>All Posts</h1>
<ul>
  <% posts.forEach(function(post) { %>
    <li>
      <p>Notes: <%= post.text %></p>
      <p>Trading: <%= post.trade %></p>
      <p>Wants: <%= post.want %></p>
      <p>Open to Offers: <%= post.isOpen %></p>
      <p>Posted by: <%= post.userDiscordId %></p>
    </li>
  <% }); %>
</ul>
