<!-- views/posts.ejs -->
<h1>All Posts</h1>
<ul>
  <% posts.forEach(function(post) { %>
    <li>
      <p><%= post.text %></p>
      <p>Trade: <%= post.trade %></p>
      <p>Want: <%= post.want %></p>
      <p>Is Open: <%= post.isOpen %></p>
      <p>Posted by: <%= post.userDiscordId %></p>
    </li>
  <% }); %>
</ul>
