<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to AA Trading!</title>
    <link href="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css
" rel="stylesheet">
  <script>
    const validUnits = <%- JSON.stringify(validUnits) %>;
  </script>
  </head>
  <body>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/welcome" class="btn btn-primary">Create Post</a>
    <header>Welcome to AA Trading!</header>
    <main>
    <p>This website is used for players on Anime Adventures to make and view posts regarding trades for in-game assets. Anyone can view posts but only people who login using their Discord can create posts and delete their posts. </p>
    <form action="/search" method="GET">
      <div class="ui multiple search selection dropdown" id="itemDropdown">
        <input type="hidden" name="trade">
        <i class="dropdown icon"></i>
        <div class="default text">Search for trades</div>
        <div class="menu">
          <% validUnits.forEach(function(unit) { %>
            <div class="item" data-value="<%= unit %>"><%= unit %></div>
          <% }); %>
        </div>
      </div>
      <div class="ui multiple search selection dropdown" id="itemDropdown">
        <input type="hidden" name="want">
        <i class="dropdown icon"></i>
        <div class="default text">Search for wants</div>
        <div class="menu">
          <% validUnits.forEach(function(unit) { %>
            <div class="item" data-value="<%= unit %>"><%= unit %></div>
          <% }); %>
        </div>
      </div>
      <button type="submit">Search</button>
    </form>
    <h1>All Posts</h1>
    <ul>
      <% posts.forEach(function(post) { %>
        <li>
          <p><%= post.text %></p>
          <p>Trade: <%= post.trade %></p>
          <p>Want: <%= post.want %></p>
          <p>Is Open: <%= post.isOpen %></p>
          <p>Posted by: <%= post.userDiscordId %></p>
        </li>
      <% }); %>
    </ul>
    <p>
			<% if (user) { %>
      <p>Welcome, <%= user.username %>!</p>
    <% } else { %>
      <a href="/auth/discord">Login with Discord</a>
    <% } %>
		</p>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js
"></script>
    <script>
      $('.ui.dropdown').dropdown({ multiple: true });
    </script>
  </body>
  </main>
  <footer>
		<p>AA Trading &copy; 2023</p>
	</footer>
</html>






