<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to AA Trading!</title>
    <link href="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css
" rel="stylesheet">
    <link href= "../public/css/semantic.cyborg.min.css" rel="stylesheet" type="text/css" />
  <script>
    const validUnits = <%- JSON.stringify(validUnits) %>;
  </script>
  </head>
  <body>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/welcome" class="btn btn-primary">Create Post</a>
    <p>
			<% if (user) { %>
      <p>Welcome, <%= user.username %>!</p>
    <% } else { %>
      <a href="/auth/discord">Login with Discord</a>
    <% } %>
		</p>
    <header>Welcome to AA Trading!</header>
    <main>
    <p>This website is used for players on Anime Adventures to make and view posts regarding trades for in-game assets. Anyone can view posts but only people who login using their Discord can create posts and delete their posts. </p>
    <form action="/search" method="GET">
      <div class="ui multiple search selection dropdown" id="itemDropdown">
        <input type="hidden" name="trade">
        <i class="dropdown icon"></i>
        <div class="default text">Search for trades</div>
        <div class="menu">
          <% validUnits.forEach(function(unit) { %>
            <div class="item" data-value="<%= unit %>"><%= unit %></div>
          <% }); %>
        </div>
      </div>
      <div class="ui multiple search selection dropdown" id="itemDropdown">
        <input type="hidden" name="want">
        <i class="dropdown icon"></i>
        <div class="default text">Search for wants</div>
        <div class="menu">
          <% validUnits.forEach(function(unit) { %>
            <div class="item" data-value="<%= unit %>"><%= unit %></div>
          <% }); %>
        </div>
      </div>
      <button type="submit">Search</button>
    </form>
    <h1>All Posts</h1>
    <ul>
      <% posts.forEach(function(post) { %>
        <div class="ui card">
          <div class="content">
            <div class="header"><strong>Trades</strong></div>
          </div>
          <div class="content">
              <div class="event">
                <div class="content">
                  <div class="summary">
                     <p><strong>Trading: </strong><%= post.trade %></p>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                     <p><strong>Want: </strong><%= post.want %></p>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                     <p><strong>Open for Offers: </strong><% if (post.isOpen) { %>
  <!-- Display a checkmark if post.isOpen is true -->
  <span>&#10004;</span>
<% } else { %>
  <!-- Display a red cross if post.isOpen is false -->
  <span>&#10008;</span>
<% } %>                       
                      </p>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                     <p><strong>Posted by : </strong><%= post.userDiscordId %></p>
                  </div>
                </div>
              </div>
              <% if (post.text && post.text.trim() !== '') { %>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <p><strong>Notes: </strong><%= post.text %></p>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
      <% }); %>
    </ul>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js
"></script>
    <script>
      $('.ui.dropdown').dropdown({ multiple: true });
    </script>
  </body>
  </main>
  <footer>
		<p>AA Trading &copy; 2023</p>
	</footer>
</html>