<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome <%= user.username %></title>
    <link href="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css
" rel="stylesheet">
    <link href= "../public/css/semantic.cyborg.min.css" rel="stylesheet" type="text/css" />
  <script>
    const validUnits = <%- JSON.stringify(validUnits) %>;
  </script>
</head>
<body>
  <a href="/" class="btn btn-primary">Home</a>
  <h1>Welcome, <%= user.username %>!</h1>
  <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" alt="Profile picture">
  <p>By creating a post on this website, you acknowledge and agree that your username will be publicly displayed. Please be cautious and avoid sharing any personally identifiable information or sensitive details in your posts. We are not responsible for any misuse or unauthorized use of the information you choose to disclose publicly. If you have any concerns about privacy or data protection, please review our privacy policy or contact us for further assistance.</p>
  <form id="createPostForm" method="POST" action="/createpost">
    <div class="ui multiple search selection dropdown" id="itemDropdown">
  <input type="hidden" name="trade">
  <i class="dropdown icon"></i>
  <div class="default text">I am trading</div>
  <div class="menu">
    <% validUnits.forEach(function(unit) { %>
      <div class="item" data-value="<%= unit %>"><%= unit %></div>
    <% }); %>
  </div>
</div>
    <div class="ui multiple search selection dropdown" id="itemDropdown">
  <input type="hidden" name="want">
  <i class="dropdown icon"></i>
  <div class="default text">What I want</div>
  <div class="menu">
    <% validUnits.forEach(function(unit) { %>
      <div class="item" data-value="<%= unit %>"><%= unit %></div>
    <% }); %>
  </div>
</div>

    <label for="isOpen">Open for offers?</label>
    <input type="checkbox" id="isOpen" name="isOpen" value="true">

    <label for="postText">Notes:</label>
    <textarea id="postText" name="postText"></textarea>

    <button type="submit">Create post</button>
  </form>
  <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  <script src="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js
"></script>
  <script>
  document.getElementById("createPostForm").addEventListener("submit", function(event) {
    // Prevent the default form submission behavior
    event.preventDefault();

    // Submit the form
    this.submit();
  });
</script>

  <script>
  $('.ui.dropdown').dropdown({ multiple: true });
  </script>
</body>
</html>
