<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome <%= user.username %></title>
    <link href="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css
" rel="stylesheet">
  <script>
    const validUnits = <%- JSON.stringify(validUnits) %>;
  </script>
</head>
<body>
  <a href="/" class="btn btn-primary">Home</a>
  <h1>Welcome, <%= user.username %>!</h1>
  <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" alt="Profile picture">
  <form method="POST" action="/createpost">

    <!-- <label for="trade">What I'm trading:</label>
    <input type="text" id="trade" name="trade"> -->

    <div class="ui multiple search selection dropdown" id="itemDropdown">
  <input type="hidden" name="trade">
  <i class="dropdown icon"></i>
  <div class="default text">I am trading</div>
  <div class="menu">
    <% validUnits.forEach(function(unit) { %>
      <div class="item" data-value="<%= unit %>"><%= unit %></div>
    <% }); %>
  </div>
</div>



    <div class="ui multiple search selection dropdown" id="itemDropdown">
  <input type="hidden" name="want">
  <i class="dropdown icon"></i>
  <div class="default text">What I want</div>
  <div class="menu">
    <% validUnits.forEach(function(unit) { %>
      <div class="item" data-value="<%= unit %>"><%= unit %></div>
    <% }); %>
  </div>
</div>

    <label for="isOpen">Open for offers?</label>
    <input type="checkbox" id="isOpen" name="isOpen" value="true">

    <label for="postText">Notes:</label>
    <textarea id="postText" name="postText"></textarea>

    <button type="submit">Create post</button>
  </form>
  <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  <script src="
https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js
"></script>
  <script>
  $('.ui.dropdown').dropdown({ multiple: true });
  </script>
</body>
</html>
